/result
/nixos-switch.log
/tt1.*

/stow/ssh/.ssh/id_rsa_iv
/stow/ssh/.ssh/id_ed25519_servers
/stow/ssh/.ssh/id_ed25519_desktops
/stow/ssh/.ssh/known_hosts
/stow/ssh/.ssh/known_hosts_old

/sources/ssh/id_ed25519_servers

/stow/logseq/.logseq/plugins/*
/stow/logseq/.logseq/graphs/*
/stow/logseq/.logseq/settings/logseq-chatgpt-plugin.json
